.grow-recommendations-carousel {

	.carousel-button-back,
	.carousel-button-next {
		position: absolute;
		height: 100%;
		z-index: 1;
		border-color: transparent;
		background-color: transparent;
	}

	.carousel-button-back {
		left: -1%;
	}

	.carousel-button-next {
		left: 98%;
		bottom: 0%
	}
}