.lexicon-icon-star-o,
.lexicon-icon-star {
	fill: #ffdf00;
}

.lexicon-icon-thumbs-up {
	fill: #8b9dc3;
}

.thumbs-up-liked {
	fill: #3b5998;
}

.label-remaining-tags {
	border-style: none;
}
.grow-card {
	border-bottom: 0.6rem solid #fff;
}
.grow-card .card-body {
	padding: 1rem 1rem 0.65rem 1rem;
}
.card-excellence:hover {
	border-color: #fa8072;
}

.card-excellence:hover * .excellence-footer-active {
	color: #fa8072;
}

.card-learn:hover {
	border-color: #400080;
}

.card-learn:hover * .learn-footer-active {
	color: #400080;
}

.card-people:hover {
	border-color: #0ff;
}

.card-people:hover * .people-footer-active {
	color: #0ff;
}

.card-share:hover {
	border-color: #0080ff;
}

.card-share:hover * .share-footer-active {
	color: #0080ff;
}

.excellence-footer-inactive {
	color: #fcb2aa;
}

.learn-footer-inactive {
	color: #8c66b2;
}

.people-footer-inactive {
	color: #7fffff;
}

.share-footer-inactive {
	color: #66b2ff;
}