.lexicon-icon-star-o,
.lexicon-icon-star {
	fill: #ffdf00;
}

.lexicon-icon-thumbs-up {
	fill: #8b9dc3;
}

.thumbs-up-liked {
	fill: #3b5998;
}

.label-remaining-tags {
	border-style: none;
}

.grow-card {
	border-bottom: 0.6rem solid #fff;
}

.grow-card .card-body {
	padding: 1rem 1rem 0.65rem 1rem;
}

.card-excellence:hover {
	border-color: #E55E75;
}

.card-excellence:hover * .excellence-footer-active {
	color: #E55E75;
}

.card-learn:hover {
	border-color: #503690;
}

.card-learn:hover * .learn-footer-active {
	color: #503690;
}

.card-people:hover {
	border-color: #47C6F5;
}

.card-people:hover * .people-footer-active {
	color: #47C6F5;
}

.card-share:hover {
	border-color: #42BFC2;
}

.card-share:hover * .share-footer-active {
	color: #42BFC2;
}

.excellence-footer-inactive {
	color: #ef9eac;
}

.learn-footer-inactive {
	color: #9686bc;
}

.people-footer-inactive {
	color: #90dcf9;
}

.share-footer-inactive {
	color: #8dd8da;
}

.article-content {
	font-size: 14px;
}
