@import "grow-recommendations-portlet";
@import "react-carousel";
@import "grow-recommendations-carousel";
@import "grow-card";
@import "grow-recommendations-portlet";

.grow-carousel-slider {
    height: 20rem;
    padding-top: 0.25rem;
}