**/.gradle
**/.settings
.ant-targets-build.xml
.ant_targets
.eslintrc
.gh.json
.sass-cache
.sass_cache_*.css
/bin
/build
/build.*.properties
/WEB-INF
/node_modules
_sass_cache_*.css
*.sass-cache*
.sass-cache/
